<div style="text-align: center;">
  <h1>ユーザー情報の編集</h1>
  <br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <div class="row">
        <%= f.label :プロフィール画像 %><br/>
        <div class="col-xs-2 col-md-offset-5">
          <%= f.file_field :icon %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <%= f.label :ユーザーネーム %><br/>
        <div class="col-xs-2 col-md-offset-5">
          <%= f.text_field :name, autofocus: true, :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <%= f.label :自己紹介 %><br/>
        <div class="col-xs-4 col-md-offset-4">
          <%= f.text_field :introduction, autofocus: true, :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <%= f.label :メールアドレス %><br/>
        <div class="col-xs-4 col-md-offset-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
        </div>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <div class="row">
        新しい<%= f.label :パスワード %> <i>(変更しない場合は空欄)</i><br/>
        <div class="col-xs-4 col-md-offset-4">
          <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        新しい<%= f.label :パスワード %>の確認<br/>
        <div class="col-xs-4 col-md-offset-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        パスワード <i>(ユーザー情報を変更するにはパスワードを入力してください)</i><br/>
        <div class="col-xs-4 col-md-offset-4">
          <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
        </div>
      </div>
    </div>
    <br>

    <div class="actions">
      <%= f.submit "更新", :class => 'btn btn-primary col-xs-2 col-md-offset-5' %>
    </div>
  <% end %>
</div>
