<% if user_signed_in? %>
  <h2><%= @user.name %> | <%= @user.search_id %></h2>
  チャットカウント : <%= @user.chat_count %> <br>
  ライク : <%= @user.like_count %>
  <br><br>

  趣味
  <%= form_tag users_add_hoby_path, method: :post do %>
    <input name="hoby_name" value="">
    <input type="submit" value="追加">
  <% end %>

  <% @user.user_hoby.each do |my_hoby| %>
    <div class="hoby">
      <%= my_hoby.hoby.hoby_name %>
      <% if @user == current_user %>
      <%= link_to "☓", users_delete_hoby_path(id: my_hoby.hoby.id), method: :post %>
      <% end  %>
    </div>
  <% end %>

  <% if current_user.id.to_s != params[:id] and @user.chat_request != -2 %>
    <%= link_to "チャットを申請", users_chat_request_path(dest_id: params[:id]),
                method: :post %>
  <% end %>

<% else %>

<% end %>
