<% if user_signed_in? %>
  <div id="my_page_content">
    <% if @user.icon.to_s != "" %>
      <%= image_tag @user.icon.to_s, class:"my_icon"%>
    <% else %>
      <%= image_tag "/image/person.png", class:"my_icon"%>
    <% end %>
    <div id="my_name"><%= @user.name %></div>
    <!-- <div id="my_search_id"><%= @user.search_id %></div> -->
    <div id="chat_count">チャットカウント : <%= @user.chat_count %></div>
    <div id="my_introduction"><%= @user.introduction %></div>

    <% if current_user.search_id != @user.search_id and @user.chat_request != -2 %>
      <%= link_to "チャットを申請", users_chat_request_path(dest_search_id: params[:search_id]),
                  method: :post, class: "chat_request" %>
    <% end %>

    <% if current_user.search_id == @user.search_id %>
      <div id="input_hoby_box">
        <%= form_tag users_add_hoby_path, method: :post do %>
          <input name="hoby_name" value="" class="input_hoby_name" autocomplete="off" placeholder="キーワード">
          <input type="submit" value="追加" class="hoby_submit_btn">
        <% end %>
      </div>
    <% end %>

    <div class="hoby_area">
      <% @user.user_hoby.each do |my_hoby| %>
        <div id="hoby"><%= my_hoby.hoby.hoby_name %></div>
          <% if @user == current_user %>
            <%= link_to "☓", users_delete_hoby_path(id: my_hoby.hoby.id), method: :post %>
          <% end %>
        <br>
      <% end %>
    </div>
  </div>
<% end %>
