<div id="sign_login_page_back">
  <div style="text-align: center;">
    <h1>ログイン</h1>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class='form-group'>
        <div class='row'>
          <%= f.label :メールアドレス %><br />
          <div class='col-xs-4 col-md-offset-4'>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>'form-control'%>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class='row'>
          <%= f.label :パスワード %><br />
          <div class='col-xs-4 col-md-offset-4'>
            <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control' %>
          </div>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン情報を保存する %>
        </div>
      <% end %>
      <br><br>
      <div class="actions">
        <%= f.submit "ログイン", :class => 'btn btn-primary col-xs-2 col-md-offset-5'%>
      </div>
    <% end %>
  </div>
</div>
