<div style="text-align: center;">
  <h2><%= link_to @target_user.name, @target_user %>さんとのチャットルーム</h2>
  <!-- 表示の左右わけに使う閲覧ユーザー情報 -->
  <div id="show_user" data-show_user="<%= current_user.id %>"></div>

  <div id="messages">
    <%= render @messages %>
  </div>

  <br>
  <% if current_user.id != @target_user.id %>
    <div id="on_input_status"></div>
  <% end %>
  <%= text_field nil, nil, 'data-behavior': 'room_speaker', id:'message_input_box' %>

  <!-- application.jsでは読み込み順？の設定で読み込まれないため以下にjs
  <script>
      $('#message_input_box').on('input', function(){
          document.getElementById('on_input_status').innerHTML =
              document.getElementById('message_input_box').value;
      });
  </script>
  -->

  <div id="end_chat">
    <%= link_to "チャットを終了", rooms_end_chat_path(), method: :post, data:
        { confirm: '本当にチャットを終了して良いですか?',
          cancel: 'やめる',
          commit: '終了する'}, title: '終了確認' %>
  </div>
  <div id="report_user">
    <%= link_to "ユーザーを通報", rooms_report_user_path(target_id: @target_user.id), method: :post %>
  </div>
</div>
