<div style="text-align: center;">
  <h2><%= link_to @target_user.name, @target_user %>さんとのチャットルーム</h2>
  <!-- 表示の左右わけに使う閲覧ユーザー情報 -->
  <div id="show_user" data-show_user="<%= current_user.id %>"></div>

  <div id="messages">
    <%= render @messages %>
  </div>


  <br>

  <div id="on_input_status"></div>
  <%= text_field nil, nil, 'data-behavior': 'room_speaker', id:'message_input_box', autocomplete: 'off' %>
  <div id="make_question_now"></div>

  <div id="end_chat">
    <%= link_to "チャットを終了", rooms_end_chat_path(), method: :post, data:
        { confirm: 'チャットを終了しますか?',
          cancel: 'やめる',
          commit: '終了する'}, title: '終了確認' %>
  </div>
  <div id="report_user">
    <%= link_to "ユーザーを通報", rooms_report_user_path(target_id: @target_user.id), method: :post, data:
        { confirm: 'ユーザーを通報しますか？',
          cancel: 'やめる',
          commit: '通報する'}, title: '通報確認' %>
  </div>
</div>
